html {
    margin: 0px;
    text-align: center;
    background-color: rgb(105,105,105);
}

body {
    margin: 0px;
}

/* Header and Logo */

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: solid 1px black;
    background-color: white;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(105,105,105,.95);
}

header .head {
    display: flex;
}

header img {
    width: 200px;
    transition: all .2s ease-in-out;
}

header img:hover {
    transform: scale(1.1);
}

header img:active {
    transform: scale(0.9);
}

/* Nav Bar */

nav div {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
    transition: all .2s ease-in-out;
    }

nav div:hover {
    transform: scale(1.1);
}

nav div:active {
    transform: scale(0.9);
}

nav a {
    text-decoration: none;
    color: black;
}

/* Main */

main {
    position: relative;
    top: 70px;
}

/* Mission Statement */

.mission-container {
    margin: 0 auto;
    background-image: url(./Images/Zen.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}

.statement {
    margin: auto;
    width: 80%;
    padding: 20px;
    font-size: xx-large;
    opacity: .90;
    transition: all .2s ease-in-out;
}

.statement:hover {
    transform: scale(1.1);
}

.statement h2 {
    text-decoration: underline;
}

/* About Us */

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 100%;
}

.projects {
    margin: 0 5px;
    display: inline-block;
    border: solid 1px black;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    background-color: gray;
}

.projects:hover {
    transform: scale(1.1);
}

.projects img {
    width: 450px;
    height: 350px;
}

.projects h3 {
    text-decoration: underline;
}

#team {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 100%;
}

img {
    border-radius: 10px;
    
}

p {
    width: 450px;
}

/* Footer */

footer {
    border-top: solid 1px black;
    bottom: 0px;
    height: 50px;
}

.footer img {
    height: 35px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    transition: all .2s ease-in-out;
    vertical-align: center;
}

.footer img:hover {
    transform: scale(1.1);
}

.footer img:active {
    transform: scale(0.9);
}